body {
    font-family: 'Lato';
    font-weight: 400;
}

.content {
    float: right;
    top: 0;
    right: 0;
    width: calc(100vw - 300px);
    background-color: #f3f3f3;
}

.main {
    min-height: calc(100vh - 60px);
    padding: 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin-right: 40%;
}

.navbar {
    height: 60px;
    background-color: #0e6ba8;
    color: white;
}

.greeting {
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}

.logout {
    font-weight: 500;
    justify-self: end;
    cursor: pointer;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.ck-editor__editable_inline {
    min-height: 300px;
}